<h2>Template-Driven Registration Form</h2>
(using bootstrap)

<div class="container mt-5">
  <form>
    <div class="form-group">
      <label for="firstname">Firstname</label>
      <input type="text" id="firstname" class="form-control" />
    </div>
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input type="text" class="form-control" id="lastname" />
    </div>
    <div class="form-group">
      <label for="email">eMail</label>
      <input type="text" class="form-control" id="email" />
    </div>

    <div id="address">
      <div class="form-group">
        <label for="street">Street and HouseNo</label>
        <input type="text" class="form-control" id="street" />
      </div>
      <div class="form-group">
        <label for="city">ZIP and City</label>
        <input type="text" class="form-control" id="city" />
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
